The following statements would import the necessary libraries. If the libraries aren't installed already, use Anaconda or pip to install them.

In [11]:
import pandas as pd
import geopandas as gpd

Modify the path in the *read_csv()* method to the absolute path for the current season's fieldbook.

In [12]:
df = pd.read_csv('/content/Draft_gantry_fieldbook_2023.csv', dtype='str').set_index('plot')
df

,year,range,row,type,rep,treatment,species,genotype,panel,height
plot,,,,,,,,,,
5501,2023,55,01,border,NaN,WL,sorghum bicolor,Fill,NaN,NaN
5502,2023,55,02,border,NaN,WL,sorghum bicolor,Fill,NaN,NaN
5503,2023,55,03,border,NaN,WL,sorghum bicolor,Fill,NaN,NaN
5504,2023,55,04,border,NaN,WL,sorghum bicolor,Fill,NaN,NaN
5505,2023,55,05,border,NaN,WL,sorghum bicolor,Fill,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9428,2023,94,28,border,NaN,WW,sorghum bicolor,Fill,NaN,NaN
9429,2023,94,29,border,NaN,WW,sorghum bicolor,Fill,NaN,NaN
9430,2023,94,30,border,NaN,WW,sorghum bicolor,Fill,NaN,NaN
9431,2023,94,31,border,NaN,WW,sorghum bicolor,Fill,NaN,NaN
9432,2023,94,32,border,NaN,WW,sorghum bicolor,Fill,NaN,NaN

Just like the previous read, modify this function's argument to point at the GeoJSON from the previous season that needs to be modified.

In [8]:
gj = gpd.read_file('/content/season14_multi_latlon_geno_updated.geojson')

**NOTE**: The columns name, such as 'genotype', 'PI_accession' (both are the same thing) can vary from fieldbook to fieldbook. Please check for any issues, refer the fieldbook, and then update them accordingly.

In [ ]:
gj['genotype'] = None

for i, row in gj.iterrows():
    #row['genotype'] = None
    plot = row['ID']
    row_df = df.loc[plot]
    geno = row_df['genotype']
    #print(plot, geno)
    gj['genotype'][i] = str(geno)

Modify the argument to the name/location of the new GeoJSOn that needs to be created.

In [17]:
gj.to_file('/content/season16_multi_latlon_geno_updated.geojson', driver='GeoJSON')